{% extends "base.html" %}


{% block content %}

<table>
    <tr>
        <td>Account name</td><td>Site name </td><td> Site Url</td>
    </tr>
    {% for cl in credentials_list %}
        <tr>
            <td>{{cl.account_name}}</td><td>{{ cl.site_name }}</td><td>{{ cl.site_url }}</td><td><a href="{% url 'credential-details' pk=cl.id %}">Details</a></td>
        </tr>
    {% endfor %}
</table>
{% endblock %}